<div class="bottom-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-2 navbar-brand">
        <a href="#fakelink">CineMap</a>
      </div>

      <div class="col-md-8">
        <ul class="bottom-links">
          <li><a href="about">CineMap FAQ</a></li>
          <li><a href="#fakelink">Privacy</a></li>
          <li><a href="#fakelink">Terms</a></li>
          <li><a href="#fakelink">Follow Us</a></li>
          <li><a href="#fakelink">Support</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <ul class="bottom-icons">
          <li><a href="#fakelink"><span class="fui-facebook"></span></a></li>
          <li><a href="#fakelink"><span class="fui-twitter"></span></a></li>
          <li><a href="https://github.com/WheatonWHALE/cinemapAPI"><span class="octicon octicon-mark-github"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>