<div class="bottom-menu" style="margin-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-2 navbar-brand">
        <a href="#fakelink">CineMap</a>
      </div>

      <div class="col-md-8">
        <ul class="bottom-links">
          <li><a href="#fakelink">About Us</a></li>
          <li><a href="#fakelink">Privacy</a></li>
          <li><a href="#fakelink">Terms</a></li>
          <li><a href="#fakelink">Follow Us</a></li>
          <li><a href="#fakelink">Support</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <ul class="bottom-icons">
          <li><a href="#fakelink" class="fui-pinterest"></a></li>
          <li><a href="#fakelink" class="fui-facebook"></a></li>
          <li><a href="#fakelink" class="fui-twitter"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>