
<div class="container">



	<div class="container">
	  <div class="page-header">
	    <h1>FAQ
	      <small>Frequently Asked Questions</small>
	    </h1>
	  </div>
	  <div class="row">
	    <div id="faq" class="col-md-9">
	      <div class="panel-group" id="accordion">
	        <div class="panel panel-default">
	          <div class="panel-heading">
	            <h4 class="panel-title">
	              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
	                href="#collapse-1">
	              Where am I going?
	              </a>
	            </h4>
	          </div>
	          <div id="collapse-1" class="panel-collapse collapse">
	            <div class="panel-body">
	              <p>First, the grocery store to pick up eggs and milk. Next, go home and properly refrigerate your eggs and milk &mdash; they aren't as fresh from the market as when you were younger.
	              </p>
	            </div>
	            <div class="panel-footer">
	              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
	            </div>
	          </div>
	        </div>
	      </div>


	      <div class="panel-group" id="accordion">
	        <div class="panel panel-default">
	          <div class="panel-heading">
	            <h4 class="panel-title">
	              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
	                href="#collapse-2">
	              Is this project open sourced? If so, where can I find the code?
	              </a>
	            </h4>
	          </div>
	          <div id="collapse-2" class="panel-collapse collapse">
	            <div class="panel-body">
	              <p><iframe src="http://ghbtns.com/github-btn.html?user=WheatonWHALE&repo=cinemapAPI&type=watch&size=large&count=true"
	  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
	              </p>
	            </div>
	            <div class="panel-footer">
	              <div class="btn-group btn-group-xs"><span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
	            </div>
	          </div>
	        </div>
	      </div>


	



	    </div>
	    <div class="col-md-3">
	      <p class="lead">Useful tips</p>
	      <div class="list-group">
	        <a href="#" class="list-group-item active">Printable</a>
	        <a href="#" class="list-group-item">Cupcake Wrappers</a>
	        <a href="#" class="list-group-item">Authentic Dragon Bones</a>
	      </div>
	    </div>
	  </div>
	</div>


</div>