<script src="js/cinemap/cinemap-features.js"></script>

<div class="container">
  <div class="jumbotron">
    <h1>CineMap Features</h1>
    <p class="lead">The primary purpose of CineMap is to provide users with a way to visualize trends in film exhibition within the continental United States over the roughly 100-year history of feature-length motion pictures. CineMap will allow users to view information about individual theaters’ ownership and years of operation. </p>
  </div>

  <table class="table table-striped" style="width: 90%; margin: auto;">
    <thead>
      <tr>
        <th>Title</th>
        <th>External Link</th>
      </tr>
    </thead>
    <tbody id="features-listing">
    </tbody>
  </table>
</div>