<script src="js/cinemap/cinemap-showings.js"></script>
<script scr="../public/js/jquery-2.0.3.min.js"></script>
<script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="http://www.amcharts.com/lib/3/serial.js"></script>
<script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amstock.js"></script>


<div class="container">
  <div class="jumbotron">
    <h1>CineMap Showings</h1>
    <p class="lead">The primary purpose of CineMap is to provide users with a way to visualize trends in film exhibition within the continental United States over the roughly 100-year history of feature-length motion pictures. CineMap will allow users to view information about individual theaters’ ownership and years of operation. </p>
  </div>

<!--       <div class="form-group">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn" type="button"><span class="fui-calendar"></span></button>
          </span>
          <div>
            <input type="text" class="form-control" value="14 March, 2013" id="datepicker-02" style="width: 200px;"/>
          </div>
        </div>
      </div> -->
      
      <div id="chartdiv" style="width: 100%; height: 500px;"></div>
      <div>
        <br>
        <hr>
        <br>
      </div>
      <div id="chartdiv2" style="width: 100%; height: 500px; font-family: Verdana; font-size: 12px; padding: 10px;"></div>
</div>