<script src="js/cinemap/cinemap-venues.js"></script>

<div class="container">
  <div class="jumbotron">
    <h1>CineMap Venues</h1>
    <p class="lead">The primary purpose of CineMap is to provide users with a way to visualize trends in film exhibition within the continental United States over the roughly 100-year history of feature-length motion pictures. CineMap will allow users to view information about individual theaters’ ownership and years of operation. </p>
  </div>

  <div style="width: 800px; margin: auto;">
    <div id="showtimes"><canvas id="line" data-type="Line"></canvas></div>      
  </div>
</div>