body {
	background-color: lightgray;
}

.container {
	margin: auto;
	width: 750px;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.head {
	height: 50px;
	padding: 20px;
	background-color: steelblue;
	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	font-size: 50px;
	color: yellow;
	text-align: center;
}

.apiform {
	padding: 20px;
	background-color: white;
}

.output {
	height: 200px;
	padding: 20px;
	background-color: steelblue;
}

input[type="submit"] {
	margin-left: 5px;
	width: 100px;
	height: 30px;
	border: none;
	background-color: steelblue;
}

input[type="text"] {
	width: 200px;
	height: 30px;
	border: 2px solid grey;
	background-color: lightyellow;
}